In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [6]:
df = pd.read_csv("../file.csv")

In [7]:
X = df.drop(["C_YEAR", "C_VEHS", "C_CONF", "V_ID",
             "P_ID", "P_PSN", "P_ISEV", "P_USER", "C_CASE", "C_SEV"], axis=1)

y = df["C_SEV"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=407)
combined_train = pd.concat([X_train, y_train], axis=1)

In [9]:
drop_strings = ((combined_train.C_MNTH != "UU")& 
         (combined_train.C_WDAY != "U")  & 
         (combined_train.C_HOUR != "UU") & 
         (combined_train.C_RCFG != "UU") & 
         (combined_train.C_RCFG != "QQ") & 
         (combined_train.C_WTHR != "U") & 
         (combined_train.C_WTHR != "Q") &
         (combined_train.C_RSUR != "Q") &
         (combined_train.C_RSUR != "U") &
         (combined_train.C_RALN != "Q") &
         (combined_train.C_RALN != "U") &
         (combined_train.C_TRAF != "QQ") &
         (combined_train.C_TRAF != "UU") &
         (combined_train.V_TYPE != "NN") & 
         (combined_train.V_TYPE != "UU") & 
         (combined_train.V_TYPE != "QQ") & 
         (combined_train.V_YEAR != "UUUU") & 
         (combined_train.V_YEAR != "NNNN") & 
         (combined_train.P_SEX != "U") & 
         (combined_train.V_YEAR != "N") &
         (combined_train.P_AGE != "UU") & 
         (combined_train.P_AGE != "NN") & 
         (combined_train.P_SAFE != "UU") & 
         (combined_train.P_SAFE != "NN") & 
         (combined_train.P_SAFE != "QQ"))

In [12]:
clean = combined_train[drop_strings]
temp = clean.drop(["P_AGE", "V_YEAR"], axis=1)

In [13]:
temp.P_SEX.replace("M", 1, inplace=True)
temp.P_SEX.replace("F", 0, inplace=True)
temp.apply(pd.to_numeric);

In [14]:
final_clean = pd.get_dummies(temp)

In [15]:
final_clean.head()

,P_SEX,C_SEV,C_MNTH_1,C_MNTH_2,C_MNTH_3,C_MNTH_4,C_MNTH_5,C_MNTH_6,C_MNTH_7,C_MNTH_8,...,V_TYPE_19,V_TYPE_20,V_TYPE_21,V_TYPE_22,V_TYPE_23,P_SAFE_01,P_SAFE_02,P_SAFE_09,P_SAFE_12,P_SAFE_13
165385,1,2,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
239620,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
233305,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
268986,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
233964,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0