In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

# read the data from csv file 
df = pd.read_csv("../data/raw_data.csv")

# drop irrelavant columns, split data into train and test sets
X = df.drop(["C_YEAR", "C_VEHS", "C_CONF", "V_ID", "V_YEAR",
             "P_ID", "P_PSN", "P_ISEV", "P_USER", "C_CASE", "C_SEV", "P_SEX", "P_AGE", "P_SAFE"], axis=1)
y = df["C_SEV"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=407)

# clean the train data, dropping rows with unknown/string values and convert data frame to numeric type
combined_train = pd.concat([X_train, y_train], axis=1)
cleaned = combined_train.apply(pd.to_numeric, errors='coerce').dropna(axis=0).astype(int)

# clean the test data, dropping rows with unknown/string values and convert data frame to numeric type
combined_test = pd.concat([X_test, y_test], axis=1)
cleaned_test = combined_test.apply(pd.to_numeric, errors='coerce').dropna(axis=0).astype(int)

# get dummy variables for the cleaned data
final_cleaned = pd.get_dummies(cleaned.astype(str))
final_cleaned_test = pd.get_dummies(cleaned_test.astype(str))

# save final data frame as csv file
final_cleaned.to_csv("../data/cleaned_train_data.csv")
final_cleaned_test.to_csv("../data/cleaned_test_data.csv")

/usr/local/Caskroom/miniconda/base/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (1,2,5,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
cleaned_test

,C_MNTH,C_WDAY,C_HOUR,C_RCFG,C_WTHR,C_RSUR,C_RALN,C_TRAF,V_TYPE,C_SEV
16781,1,5,17,2,1,1,1,18,1,2
73424,4,4,16,2,3,2,1,18,1,2
192756,9,3,16,2,3,2,1,1,1,2
36142,2,5,10,2,1,1,1,3,1,2
241381,11,2,17,2,1,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...
272628,12,3,12,2,1,1,1,18,1,2
270972,12,3,8,1,1,5,4,18,1,2
75387,4,5,13,3,1,1,1,18,1,2
84973,5,1,14,1,3,2,1,1,1,2
111250,6,2,1,1,1,1,1,18,14,2